.popup__container {
    position: relative;
    max-width: 430px;
    width: 100%;
    min-height: 330px;
    background-color: #fff;
    border-radius: 10px;
}

@media all and (max-width: 709px) {
    .popup__container {
        max-width: 282px;
        min-height: 322px;
    }
}