.like-button_active {
    flex-shrink: 0;
    flex-basis: 22px;
    height: 19px;
    background-image: url(../../../images/active-like.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}