.logo {
    display: block;
    width: calc(100% - 54px);
    margin: 0 auto;
    height: 33px;
    padding: 45px 0 41px;
    background-image: url(../../images/logo.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 142px 33px;
}

@media all and (max-width: 709px) {
    .logo {
        padding: 28px 0 31.6px;
        background-size: 103px 24px;
    }
}