.logo {
    display: block;
    max-width: 880px;
    width: calc(100% - 54px);
    margin: 45px auto 41px;
    height: 33px;
    background-image: url(../../images/logo.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 142px 33px;
}

@media all and (max-width: 709px) {
    .logo {
        margin: 28px auto 31.6px;
        background-size: 103px 24px;
    }
}